body {
  background-image: url('./Todo-app-main/images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: white;
}



#input-field {
  width: 50vw;
  margin: 30px auto;
}

#input-field input {
  height: 100%;
}

#input-field button {
  height: 100%;
}



#list-container {
  background-color: white;
  border-radius: 5px;
  width: 50vw;
  margin: 0 auto;
  color: rgb(70, 70, 70);
}

.to-do-item {
  border-bottom: solid 1px grey;
  display: grid;
  grid-template-columns: 40px auto 50px;
  align-content: center;
}

.to-do-item input {
  margin: auto;
}

.to-do-item p {
  text-align: left;
  word-wrap: normal;
}

.to-do-item img {
  height: 20px;
  margin: auto;
}






.checked {
  color: grey;
  text-decoration: line-through;
}


.pointer:hover {
  cursor: pointer;
}
.active {
  font-weight: bold;
}